<div class="row">
    {% for item in releases.albums.items %}
        <div class="col-md-4">
                <img src="{{ item.images[1].url }}" alt="">
                <h2>{{ item.name }}</h2>

            {% for artist in item.artists %}
                    <a class="button" href="{{ path('spotify_client.artist', {'id' : artist.id}) }}">
                        {{ artist.name }}
                    </a>

            {% endfor %}
        </div>
        <br>
        <br>
    {% endfor %}
</div>

